.header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dialog-responsive {
  width: 40%;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
    width: 100%;
  }
}
