<div class="content">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-subtitle><small>{{advertisement.category}}</small></mat-card-subtitle>
            <mat-card-title>Himalayan Peaks</mat-card-title>
            <mat-card-subtitle><i>By {{advertisement.createdByUserName}}</i></mat-card-subtitle>
        </mat-card-header>
        <img *ngIf="!!advertisement.image" mat-card-image [src]="advertisement.image" alt="Image Of Advertisement">
        <mat-card-content>
            <p>{{advertisement.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-stroked-button color="primary">EDIT</button>
            <button mat-button mat-stroked-button color="warn">REMOVE</button>
        </mat-card-actions>
    </mat-card>
</div>